body{
    background-color: #F2F2F2;
}
ul{
    list-style-type: none;
    overflow: hidden;
     background:linear-gradient(to right,#6968AC,#7E7FB8);
    text-align: right;
    height: 65px;
}
ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;

}
li a{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
    color: #F2F2F2; 
    transition: all 0.1s ease;
}
 .ga{
    position: relative;
    border-radius: 6px;
    height: 15px;
    width: 30px;
    font-size: 12px;
    border: none;
    text-align: center;
    color: #6968AC;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #F2F2F2;
}
.srch{
    border: none;
    text-align: right;
    width: 200px;
    height: 35px;
    border-radius: 6px;
}

ul li a:hover,
a.g{
    background: #F2F2F2;
	color: #6968AC;
    
    border-radius: 10px;
}

input:hover{
    box-shadow: 0px 0px 3px 0px #F2F2F2;
}
.p{
    
    line-height: 23px;
}
.n{
    border-radius: 8px;
    outline: 2px #6968AC;
    outline-style: dashed;
    outline-offset: 7px;
    outline-width: 3px;
}
.v{
    position: relative;
    top: 20px;
    color: #F2F2F2;
    background-color: #6968AC;
    width: 200px;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #6968AC;

}
.blink {
    animation: blinker 1.5s linear infinite;
    color:  #6968AC;
    font-family: sans-serif;
    position: relative;
    top: 20px;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.e{position: relative;
left: 500px;}

